<table class="table">
	<thead>
	<tr>
		<th  scope="col">Kérdések</th>
		<th class='text-center' scope="col">Törlés</th>
		<th class='text-center' scope="col">Szerkesztés</th>
	</tr>
	</thead>
	<tbody>


	<!--{foreach $projects as $index => $project}
	<tr> 
		<td>{$project->name}</td>      
		
		<td class='text-center'><a class='btn btn-danger' type='button' href="{base_url()}admin/project/delete/{$project->id}"><i class='fas fa-trash'></i></a></td>
		<td class='text-center'><a class='btn btn-warning' role='button' href='{base_url()}admin/project/edit/{$project->url}'><i class='far fa-edit'></i></a></td>		 
	</tr>
	{/foreach}-->

	</tbody>
</table>


