<table class="table">
	<thead>
	<tr>
		<th  scope="col">Videók</th>
		<th class='text-center' scope="col">Törlés</th>
	</tr>
	</thead>
	<tbody>


	{foreach $videos as $index => $video}
	<tr> 
		<td>{$video->video_name}</td>      
		
		<td class='text-center'><a class='btn btn-danger' type='button' href="{base_url()}admin/videos/delete/{$video->id}"><i class='fas fa-trash'></i></a></td>
		{* <td class='text-center'><a class='btn btn-warning' role='button' href='{base_url()}admin/project/edit/{$project->url}'><i class='far fa-edit'></i></a></td>		  *}
	</tr>
	{/foreach}

	</tbody>
</table>


