//out: null, main: ../mavor.less
body{
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}
a{
    color: @a-color;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: @color-white;
    }
    &:active{
        color: @color-white;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    #content{
        width: 100%;
    }
}
.wrapper {
    display: flex;
    align-items: stretch;
}


.my-card{
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

.line-break{
    word-break: break-all;
}

video{
    &:hover{
        cursor: pointer;
    }
}

.picked-question{
    transition: all 1s;
}

.picked-video{
    transition: all 1s;
}
.picked-question-id{
    transition: all 1s;
}

.picked-video-id{
    transition: all 1s;
}

