//out: null, main: ../main/mavor.less

[draggable]{
    user-select: none;
}

.draggable.dragging{
   background-color: rgba(0,0,0,.15);
}

.dropzone{
    /* width: 150px;
    height:150px; */
    border: 2px dashed #ccc;
    color: #ccc;
    text-align: center;
    line-height: 300px;
}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}