//out: null, main: ../mavor.less



#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: @sidebar-background-color;
    color: @color-white;
    transition: all 0.3s;

    .sidebar-header{
        padding: 20px;
        background: @sidebar-background-color;
    }

    ul.components{
        padding: 20px 0;

       
        // ul{
        //     a{
        //         font-size: 0.9em !important;
        //         padding-left: 30px !important;
        //         background: #6d7fcc;
        //     }
        // }
    }
    ul{
        p{
            color: @color-white;
            padding: 10px;
        }
        li{
            a{
                padding: 10px;
                font-size: 1.1em;
                display: block;
            }
        }
    }
   
}
#sidebar.active{
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
 content: '';
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}