.dropzone{
    width: 300px;
    height:300px;
    border: 2px dashed #ccc;
    color: #ccc;
    text-align: center;
    line-height: 300px;
}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}