body {
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}
a {
  color: #339933;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  color: white;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.wrapper #content {
  width: 100%;
}
.wrapper {
  display: flex;
  align-items: stretch;
}
.my-card {
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}
.line-break {
  word-break: break-all;
}
video:hover {
  cursor: pointer;
}
.picked-question {
  transition: all 1s;
}
.picked-video {
  transition: all 1s;
}
.picked-question-id {
  transition: all 1s;
}
.picked-video-id {
  transition: all 1s;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #2c2c2c;
  color: white;
  transition: all 0.3s;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #2c2c2c;
}
#sidebar ul.components {
  padding: 20px 0;
}
#sidebar ul p {
  color: white;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  content: '';
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
[draggable] {
  user-select: none;
}
.draggable.dragging {
  background-color: rgba(0, 0, 0, 0.15);
}
.dropzone {
  /* width: 150px;
    height:150px; */
  border: 2px dashed #ccc;
  color: #ccc;
  text-align: center;
  line-height: 300px;
}
.dropzone.dragover {
  border-color: #000;
  color: #000;
}
