<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Szatmarvill Kft</a>
</nav>

<div class="row py-5 justify-content-center">
    <div class="col-3">
    <div class="form-group">
            <h3>Regisztráció</h3>
    </div>
      <form action="" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Felhasználónév:</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Felhasználónév">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Jelszó:</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Jelszó">
        </div>
        <div class="form-group d-flex justify-content-center">
             <button type="submit" class="btn btn-primary">Ok</button>
        </div>
        </form>
    </div>
</div>