<div class="row m-3">
    <div class="col">
         <video muted id="main_video" preload="true" width="100%"  controls>
            <source src="{base_url()}assets/videos/kurzus_2.mp4" type="video/mp4">
        </video>
    </div>
</div>

    <script src="{base_url()}assets/js/click_video.js"></script>
